<ion-content>
  <div class="container">
      <div class="slides">
        <!-- <ion-slides  pager>
            <ion-slide *ngFor="let slide of slides" >
                  <img src="{{slide}}" class="slider">
       <button ion-button default >Login</button>
                <button ion-button default (click)="ShowTabs()">Join </button>
              </ion-slide>
              </ion-slides> -->

       <ion-slides #slides>
        <ion-slide  *ngFor="let slide of onboardingSlides;">
          <div class="image">
            <img  src="../../assets/imgs/formbackground.jpg" width="100%" height="100%" position="absolute" style=" background: linear-gradient(to bottom, #000210 60%,  #1c465c 100%);"> 
             <div class="logo">
                   <img src="../../assets/imgs/logpo.PNG" width="20%" height="20%" >
                      
             </div>
             <div class="icon">
                <img src="{{slide.image}}" >
             </div>
             <div class="text">
                <h1>{{slide.title}} </h1>
                <p>{{slide.text}} </p>
             </div>
           
            <div class="btn">
             <button id="next" (click)="next()"  ion-button clear round large style="color: #fff; width: 40%; letter-spacing: 3px; background:rgba(255, 255, 255, 0.144)  ; font-size: 80%; padding: 5%; font-family:Georgia, 'Times New Roman', Times, serif;" >Next</button>
             <button id="skip" (click)="registerModal()" ion-button clear round large style="color: #fff; width: 40%; letter-spacing: 3px; background: rgba(167, 122, 37, 1); font-size: 80%; padding: 5%; font-family:Georgia, 'Times New Roman', Times, serif;">Skip </button>
            </div>
            </div>
       </ion-slide>
       <ion-slide >
        <div class="image">
          <img  src="../../assets/imgs/formbackground.jpg" width="100%" height="100%" position="absolute" style=" background: linear-gradient(to bottom, #000210 60%,  #1c465c 100%);"> 
           <div class="logo">
                 <img src="../../assets/imgs/logpo.PNG" width="20%" height="20%" >
                    
           </div>
         
          <div class="btn">
              <!-- <button id="skip" (click)="gonext()" ion-button clear round large full style="color: #fff; width: 40%; letter-spacing: 3px; background: rgba(167, 122, 37, 1); font-size: 80%; padding: 5%; font-family:Georgia, 'Times New Roman', Times, serif;">Done </button>
 -->
            <button id="skip" (click)="registerModal()" ion-button clear round large full style="color: #fff; width: 40%; letter-spacing: 3px; background: rgba(167, 122, 37, 1); font-size: 80%; padding: 5%; font-family:Georgia, 'Times New Roman', Times, serif;">Done </button>
         </div>
          </div>
     </ion-slide>
    </ion-slides>
           </div>
        </div>
</ion-content>
