<ion-content>
    <!-- <h1>Your Personal Details are:</h1>
    <p *ngIf="bookindData"> Firstname: {{bookindData.roomname}} </p>
    <p *ngIf="bookindData"> Lastname :{{bookindData.roomname}} </p>
    <p *ngIf="bookindData"> Contact: {{bookindData.roomname}} </p>
    <p *ngIf="bookindData"> Email :{{bookindData.roomname}} </p>
    <p *ngIf="bookindData"> {{bookindData.roomname}} </p> -->
    <h1>Your booking is:</h1>
    <p *ngIf="bookingData"> Check-in date:{{bookingData.checkin}} </p>
    <p *ngIf="bookingData"> Check-out date: {{bookingData.checkout}} </p>
    <p *ngIf="bookingData"> Number of adults: {{bookingData.adults}} </p>
    <p *ngIf="bookingData">  Number of children: {{bookingData.children}} </p>
    <p *ngIf="bookingData">Number of rooms: {{bookingData.rooms}} </p>
    <p *ngIf="bookingData">Meals: {{bookingData.meals}} </p>
    <p *ngIf="bookingData">  Total fee: {{bookingData.price}} </p>
</ion-content>
